
text/ds/grus/data-science-from-scratch/
text/ds/mckinney/pydata-book/
text/math/cohen/linalg4datascience/
text/math/nield/machine-learning-demo-data/
text/ml/geron/handson-ml2/
text/r/kuhn/tmwr/
text/r/wickham/r4ds/
text/sql/tanimura/sql_book/
text/stats/davidson/probabilistic-programming-and-bayesian-methods-for-hackers/
text/stats/downey/thinkbayes/
text/math/axler/linear_algebra/
text/math/axler/linear-algebra-done-right-solutions/
text/ds/grus_dss/data-science-from-scratch/
text/ds/mckinney_pda/pydata-book/
text/math/axler_linalg/linear-algebra-done-right-solutions/
text/math/axler_linalg/linear_algebra/
text/math/nield_essentialds/machine-learning-demo-data/
text/stats/davidson_bayesmethods/probabilistic-programming-and-bayesian-methods-for-hackers/
text/math/cohen_linalgds/linalg4datascience/
text/ml/geron_scikertf/handson-ml2/
text/stats/downey_thinkbayes/thinkbayes/
text/math/control_room/RoboticSystemsBook/
certs/cka/certified-kubernetes-administrator-course/
certs/cks/certified-kubernetes-security-specialist-cks-course/
srush/gpu/
srush/tensor/
repos/srush/gpu/
repos/srush/tensor/
text/practice/matthis_pycc/pcc_2e/
text/practice/matthis_pycc/pcc_3e/
/.tmp.driveupload
